<html>
	<head>
		<title>  Webserver: {{ ansible_nodename }} </title>
	</head>

	<body background="inteltour.png">
		<h1 style="color:white;font-size:500%;"> webserver: {{ ansible_nodename }}</h1>
	</body>

</html>
