<html>
	<head>
		<title>  Webserver: {{ ansible_nodename }} </title>
	</head>

	<!-- <body background="inteltour.png" -->
		<h1 style="color:white;font-size:500%;"> webserver: {{ ansible_nodename }}</h1>
	</body>
	
	<style media="screen" type="text/css">
	html { 
  		background: url(inteltour.png) no-repeat center center fixed; 
  		-webkit-background-size: cover;
  		-moz-background-size: cover;
  		-o-background-size: cover;
  		background-size: cover;
	}

	</style>
</html>
