<html>
	<head>
		<title> Just an empty page on Webserver: {{ ansible_nodename }} </title>
	</head>

	<body background="inteltour.png">
		<h1 style="color:white;font-size:500%;"> This is only a test web page on webserver: {{ ansible_nodename }}</h1>
	</body>

</html>
